body{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-shrink: 0;
    flex-wrap: wrap;
}

button{
    align-items: center;
}

img{
    max-width: 300px;
    max-height: 300px;
}

h1{
    text-align: center;
}